@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor01: #CCC098;
    --cor02: #EFE6CD;
    --cor03: #7D8758;
    --cor04: #474d33;
    --cor05: #C5B67B;
    --cor06: #9EA58D;
    --fonte-titulo: "Cinzel", serif;
    --fonte-padrao: "Roboto", sans-serif;
} 

body {
    background-color: var(--cor03);
    margin: 0;
}

header {
    background-color: var(--cor03); 
    color: var(--cor02);
    margin-bottom: 5px;
    padding: 10px; 
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    text-shadow: 7px 3px 3px rgba(0, 0, 0, 0.411);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-family: var(--fonte-padrao);
}

nav a {
    margin: 0 15px; 
    text-decoration: none;
    color: var(--cor01);
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin: 0 auto; 
}

div {
    max-width: 1000px;
    margin: 20px auto; 
    background-color: var(--cor02);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8em;
}

div a:hover {
    text-decoration: none;
    color: var(--cor03);
}


div.conteudoSobre{
    margin: 0px;
    padding: 0px;
    box-shadow: none;    
}

div.imagemSobre{
    box-shadow: none;
}

h2 {
    color: var(--cor04);
    font-family: var(--fonte-padrao);
    font-weight: bold;
}

img {
    width: 300pxpx;
    height: 300px;
    border-radius: 20px;
}

.contato-img {
    width: 40px; 
    height: auto; 
    margin: 10px 0;
}

.contato-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contato-item img {
    margin-right: 10px;
}

.conteudoSobre{
    display: flex; 
    align-items: center; 
    box-shadow: none;
}

@media screen and (max-width:700px){
    .conteudoSobre{
        flex-direction: column;
    }
}
